body {
    font-family: "Roboto", sans-serif;
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #ffffff 70%, #8C92AC 30%);
    background-attachment: fixed;
}


.fixed-size-img {
    width: 200px;
    height: auto;
}

#homeLink {
    margin: 0;
    padding: 0;
}

#homeIcon {
    height: 2em;
    position: unset;
}

#searchIcon {
    height: 2em;
}

#gamepadIcon {
    height: 1em;
    width: auto;
    position: relative;
    top: -0.1em;
}

#penIcon,
#loginIcon,
#gameboyIcon {
    height: 4em;
}

#usernameIcon,
#passwordIcon {
    height: 2em;
}

/* Custom Bootstrap Styles: */
:root .navbar {
    --bs-tertiary-bg-rgb: 224, 231, 34;
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-emphasis-color-rgb: 0, 0, 0;
    border-bottom: 3px solid #FFAD00;
    box-shadow: 0px 1px 1px 1px;
}

.btn-danger {
    background-color: #EB212E;
    border: none;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    box-shadow: -1px 1px 0px 1px #5d748a;
    --bs-btn-hover-bg: #E91624;
    --bs-btn-active-bg: #E01522;
}

.btn-danger:active {
    box-shadow: none;
}

.btn-primary {
    background-color: #00A3E1;
    border: none;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    box-shadow: -1px 1px 0px 1px #5d748a;
    --bs-btn-hover-bg: #0096D1;
    --bs-btn-active-bg: #008FC7;
}

.btn-primary:active {
    box-shadow: none;
}

.bg-danger {
    --bs-danger-rgb: 235, 33, 46
}

.bg-success {
    --bs-success-rgb: 68, 214, 44;
}

.bg-warning {
    --bs-warning-rgb: 255, 222, 0;
}

.img-fluid {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.img-fluid+p {
    background: white;
    padding: 1rem;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

#landing-intro {
    width: 80%;
}

#landing-intro p {
    margin: 0;
}

.game-card {
    box-shadow: 4px 7px 7px 0px;
    border-radius: 0.375rem;
    padding: 0;
}

.game-card card {
    border: none;
}

.card-img-top {
    height: 200px;
}

#descriptionBtn,
#reviewBtn {
    margin: 0;
    padding: 0;
}

button[aria-expanded="true"] span.read-more {
    display: none;
}

button[aria-expanded="false"] span.read-less {
    display: none;
}


.footer {
    background-color: #393D47;
    border-top: 3px solid #00A3E1;
    color: white;
    margin-bottom: 0;
}

.rating {
    width: 20%;
}

/*Media Queries:*/
@media (min-width: 440px) {
    .card-img-top {
        height: 300px;
    }
}

@media (max-width: 576px) {
    #searchDiv {
        width: 75%;
    }
}

@media (min-width: 576px) {
    #landing-intro {
        width: 83%;
    }

    .card-img-top {
        height: 200px;
    }
}

@media (min-width: 768px) {
    #landing-intro {
        width: 87%;
    }

    .rating {
        width: 15%;
    }

    #penIcon,
    #loginIcon, #gameboyIcon {
        height: 5em;
    }

    .card-img-top {
        height: 250px;
    }
}

@media (min-width: 992px) {
    .card-img-top {
        height: 200px;
    }

    .game-card {
        width: 250px;
    }

    #landing-intro {
        width: 57%;
    }

    .rating {
        width: 37%;
    }
}

@media (min-width: 1200px) {

    #landing-intro {
        width: 43%;
    }
}

@media (min-width: 1400px) {}