/* Global Styles */
* {
  border-radius: 0;
}
:root {
  --bs-border-radius: 0;
  --bs-border-radius-sm: 0;
  --bs-border-radius-lg: 0;
  --bs-border-radius-xl: 0;
  --bs-border-radius-xxl: 0;
  --bs-border-radius-2xl: 0;
  --bs-border-radius-pill: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  background-image: linear-gradient(to bottom, #ffffff 70%, #8c92ac 30%);
  background-attachment: fixed;
}

section {
  position: fixed;
  width: 100%;
  padding-top: 0.75rem;
  z-index: 3;
}

.footer {
  background-color: #393d47;
  border-top: 3px solid #00a3e1;
  color: white;
  margin-bottom: 0;
}

button[aria-expanded="true"] span.read-more {
  display: none;
}

button[aria-expanded="false"] span.read-less {
  display: none;
}

/* Icon Styles */
#homeLink {
  margin: 0;
  padding: 0;
}

#homeIcon {
  height: 2em;
  position: unset;
}

#searchIcon {
  height: 2em;
}

#gamepadIcon {
  height: 1em;
  width: auto;
  position: relative;
  top: -0.1em;
}

#penIcon,
#loginIcon,
#gameboyIcon,
#likeIcon,
#profileIcon,
#resultsIcon {
  height: 4em;
}

#emailIcon,
#usernameIcon,
#passwordIcon {
  height: 2em;
}

.footerIcon:hover {
  color: #00a3e1;
}

/* Custom Bootstrap Styles */
:root .navbar {
  --bs-tertiary-bg-rgb: 224, 231, 34;
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-emphasis-color-rgb: 0, 0, 0;
  border-bottom: 3px solid #ffad00;
  box-shadow: 0px 1px 1px 1px;
}

.btn-danger {
  color: black;
  background-color: #f4364c;
  --bs-btn-hover-bg: #f4253d;
  --bs-btn-active-bg: #f31b34;
}

.btn-primary {
  color: black;
  background-color: #00a3e1;
  --bs-btn-hover-bg: #0096d1;
  --bs-btn-active-bg: #008fc7;
}

.btn-danger,
.btn-primary {
  border: none;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: -1px 1px 0px 1px #5d748a;
}

.btn-danger:active,
.btn-primary:active {
  box-shadow: none;
}

.bg-danger {
  --bs-danger-rgb: 244, 54, 76;
}

.bg-success {
  --bs-success-rgb: 68, 214, 44;
}

.bg-warning {
  --bs-warning-rgb: 255, 222, 0;
}

.img-fluid {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.img-fluid + p {
  background: white;
  padding: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-img-top {
  height: 200px;
}

/* ID Styles */
#landingIntro {
  width: 80%;
}

#landingIntro p {
  margin: 0;
}

#descriptionBtn,
#reviewBtn {
  margin: 0;
  padding: 0;
}
#searchBtn {
  color: white;
}

/* Class Styles */
.gameCard {
  box-shadow: 4px 7px 7px 0px;
  border-radius: 0;
  padding: 0;
}

.gameCard card {
  border: none;
}

.ratingDiv {
  width: 20%;
}

/* Media Queries */
@media (min-width: 440px) {
  .card-img-top {
    height: 300px;
  }
}

@media (max-width: 576px) {
  #searchDiv {
    width: 75%;
  }
}

@media (min-width: 576px) {
  #landingIntro {
    width: 83%;
  }

  .card-img-top {
    height: 200px;
  }
}

@media (min-width: 768px) {
  #landingIntro {
    width: 87%;
  }

  .ratingDiv {
    width: 15%;
  }

  #penIcon,
  #loginIcon,
  #gameboyIcon,
  #likeIcon,
  #profileIcon,
  #resultsIcon {
    height: 5em;
  }

  .card-img-top {
    height: 250px;
  }
}

@media (min-width: 992px) {
  nav a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  nav a:not(#homeLink)::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background: #00a3e1;
    transition: width 0.2s ease-in-out;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }

  nav a:not(#homeLink):hover::after {
    width: 80%;
  }
  .card-img-top {
    height: 200px;
  }

  .gameCard {
    width: 250px;
  }

  #landingIntro {
    width: 57%;
  }

  .ratingDiv {
    width: 37%;
  }
}

@media (min-width: 1200px) {
  #landingIntro {
    width: 43%;
  }
}
