{% extends "base.html" %}
{% block content %}

<h1>Edit Review</h1>
<div class="container min-vh-100">
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Game Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ review.name }}" required>
        </div>
        <div class="mb-3">
            <label for="review" class="form-label">Review</label>
            <textarea class="form-control" id="review" name="review" rows="4" required>{{ review.review }}</textarea>
        </div>
        <div class="mb-3">
            <label for="rating" class="form-label">Rating (out of 10)</label>
            <input type="number" class="form-control" id="rating" name="rating" value="{{ review.rating }}" min="0"
                max="10" step="0.5" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Review</button>
    </form>
</div>
{% endblock %}