{% extends "base.html" %}
{% block content %}
<p>{{ game_data['id'] }}</p>
<p>{{ game_data['name'] }}</p>
<img src="{{ game_data['background_image'] }}">
<p>{{ game_data['description'] | striptags }}</p>
<p>{{ game_data['released'] }}</p>
{% for genre in game_data['genres'] %}
<p>{{ genre['name'] }}</p>
{% endfor %}
{% for developer in game_data['developers'] %}
<p>{{ developer['name'] }}</p>
{% endfor %}
{% for publisher in game_data['publishers'] %}
<p>{{ publisher['name'] }}</p>
{% endfor %}
{% for platform in game_data['platforms'] %}
<p>{{ platform['platform']['name'] }}</p>
{% endfor %}
{% for tag in relevant_tags %}
<p>{{ tag }}</p>
{% endfor %}

<!-- Form to add the game to the database -->
<h2>Add Review:</h2>
<form action="/add_game" method="post">
    <input type="hidden" name="game_id" value="{{ game_data['id'] }}">
    <input type="hidden" name="name" value="{{ game_data['name'] }}">
    <input type="hidden" name="description" value="{{ game_data['description'] }}">
    <input type="hidden" name="released" value="{{ game_data['released'] }}">
    <input type="hidden" name="genres" value="{% for genre in game_data['genres'] %}{{ genre['name'] }},{% endfor %}">
    <input type="hidden" name="developers"
        value="{% for developer in game_data['developers'] %}{{ developer['name'] }},{% endfor %}">
    <input type="hidden" name="publishers"
        value="{% for publisher in game_data['publishers'] %}{{ publisher['name'] }},{% endfor %}">
    <input type="hidden" name="platforms"
        value="{% for platform in game_data['platforms'] %}{{ platform['platform']['name'] }},{% endfor %}">
    <input type="hidden" name="tags" value="{% for tag in relevant_tags %}{{ tag }},{% endfor %}">
    <div class="mb-3">
        <label for="review" class="form-label">Review:</label>
        <textarea class="form-control" id="review" name="review" rows="4" cols="50" required></textarea>
    </div>
    <div class="mb-3">
        <label for="rating" class="form-label">Rating (out of 10):</label>
        <select class="form-select" id="rating" name="rating" required>
            {% for i in range(-1, 21) %}
                <option value="{{ i / 2 }}">{% if i == -1 %}No rating{% else %}{{ i / 2 }}{% endif %}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add to Collection</button>
</form>

{% endblock %}