{% extends "base.html" %}
{% block content %}
<div class="container min-vh-100">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ game_data['name'] }}</h1>
            <img src="{{ game_data['background_image'] }}" class="img-fluid rounded mb-3">
            <p>{{ game_data['description'] | striptags }}</p>
        </div>
        <div class="col-md-6">
            <h2>Game Details</h2>
            <ul class="list-group">
                <li class="list-group-item"><strong>Released:</strong> {{ game_data['released'] }}</li>
                <li class="list-group-item"><strong>Genres:</strong>
                    {% for genre in game_data['genres'] %}
                    {{ genre['name'] }},
                    {% endfor %}
                </li>
                <li class="list-group-item"><strong>Developers:</strong>
                    {% for developer in game_data['developers'] %}
                    {{ developer['name'] }},
                    {% endfor %}
                </li>
                <li class="list-group-item"><strong>Publishers:</strong>
                    {% for publisher in game_data['publishers'] %}
                    {{ publisher['name'] }},
                    {% endfor %}
                </li>
                <li class="list-group-item"><strong>Platforms:</strong>
                    {% for platform in game_data['platforms'] %}
                    {{ platform['platform']['name'] }},
                    {% endfor %}
                </li>
                <li class="list-group-item"><strong>Game-Modes:</strong>
                    {% for tag in relevant_tags %}
                    {{ tag }},
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Add Review:</h2>
            <form action="/add_game" method="post">
                <input type="hidden" name="game_id" value="{{ game_data['id'] }}">
                <input type="hidden" name="name" value="{{ game_data['name'] }}">
                <input type="hidden" name="background_image" value="{{ game_data['background_image'] }}">
                <input type="hidden" name="description" value="{{ game_data['description'] }}">
                <input type="hidden" name="released" value="{{ game_data['released'] }}">
                <input type="hidden" name="genres"
                    value="{% for genre in game_data['genres'] %}{{ genre['name'] }},{% endfor %}">
                <input type="hidden" name="developers"
                    value="{% for developer in game_data['developers'] %}{{ developer['name'] }},{% endfor %}">
                <input type="hidden" name="publishers"
                    value="{% for publisher in game_data['publishers'] %}{{ publisher['name'] }},{% endfor %}">
                <input type="hidden" name="platforms"
                    value="{% for platform in game_data['platforms'] %}{{ platform['platform']['name'] }},{% endfor %}">
                <input type="hidden" name="tags" value="{% for tag in relevant_tags %}{{ tag }},{% endfor %}">
                <div class="mb-3">
                    <label for="review" class="form-label">Review:</label>
                    <textarea class="form-control" id="review" name="review" rows="4" cols="50" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating (out of 10):</label>
                    <select class="form-select" id="rating" name="rating" required>
                        {% for i in range(-1, 21) %}
                        <option value="{{ i / 2 }}">{% if i == -1 %}No rating{% else %}{{ i / 2 }}{% endif %}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Add to Collection</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}