{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Game Reviews</h2>
    <div class="row">
        {% for game in games %}
        <div class="col-lg-12 mb-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-lg-4">
                        <img src="{{ game.background_image }}" class="card-img" alt="{{ game.name }}">
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ game.name }}</h5>
                            <p class="card-text">{{ game.description | safe }}</p>
                            <ul class="list-unstyled">
                                <li><strong>Released:</strong> {{ game.released }}</li>
                                <li><strong>Genres:</strong> {{ game.genres | join(", ") }}</li>
                                <li><strong>Developers:</strong> {{ game.developers | join(", ") }}</li>
                                <li><strong>Publishers:</strong> {{ game.publishers | join(", ") }}</li>
                                <li><strong>Platforms:</strong> {{ game.platforms | join(", ") }}</li>
                                <li><strong>Game-Modes:</strong> {{ game.tags | join(", ") }}</li>
                                <li><strong>Review:</strong> {{ game.review }}</li>
                                <li><strong>Rating:</strong> {{ game.rating }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
