{% extends "base.html" %} {% block content %}
<div class="container min-vh-100">
  <div
    class="container d-flex align-items-center justify-content-center mt-5 pt-5"
  >
    <!-- Login Icon -->
    <img
      class="'d-inline me-3"
      id="loginIcon"
      src="../static/css/icons/login.png"
      alt="Login Icon"
    />
    <!-- Page heading -->
    <h2 class="text-center mt-5 pb-5 display-2">Log In</h2>
  </div>
  <!-- Form Section -->
  <div class="row my-5 justify-content-center">
    <div class="card col-8 col-xl-6 p-3">
      <div class="card-body">
        <!-- Log In Form -->
        <form method="POST" action="{{ url_for('log_in') }}">
          <!-- Username or Email Field -->
          <div class="my-3">
            <img
              class="d-inline mb-2"
              id="usernameIcon"
              src="../static/css/icons/username.png"
              alt="Username Icon"
            />
            <label for="user_input" class="form-label"
              >Username or Email:</label
            >
            <div class="input-group">
              <span class="input-group-text"></span>
              <input
                id="user_input"
                name="user_input"
                type="text"
                class="form-control"
                required
              />
            </div>
          </div>
          <!-- Password Field -->
          <div class="my-3">
            <img
              class="d-inline mb-2"
              id="passwordIcon"
              src="../static/css/icons/password.png"
              alt="Password Icon"
            />
            <label for="password" class="form-label">Password:</label>
            <div class="input-group">
              <span class="input-group-text"></span>
              <input
                id="password"
                name="password"
                type="password"
                minlength="8"
                maxlength="20"
                pattern="^(?!.*(.)\1{2,})[A-Za-z0-9\W_]{8,20}$"
                title="Password must be 8-20 characters long and can include letters, numbers, and any special characters."
                class="form-control"
                required
              />
            </div>
          </div>
          <!-- Log In Button -->
          <button type="submit" class="btn btn-primary btn-lg w-100 my-3">
            Log In
          </button>
        </form>
      </div>
      <div class="row">
        <div class="col-12">
          <!-- Sign Up Link -->
          <p class="text-center">
            New Here?
            <a href="{{ url_for('auth.sign_up') }}" class="text-primary">Sign Up!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
