{% extends "base.html" %}
{% block content %}

<div class="container min-vh-100">
    <div class="row justify-content-center my-5 py-5">
        <div class="col-md-8">
            <div class="container d-flex align-items-center justify-content-center my-5 pb-5">
                <img class="'d-inline me-3" id="profileIcon" src="../static/css/icons/profile.png">
                <h2 class=" display-2 text-center">{{ username }}</h2>
            </div>
            <div class="card-deck">
                {% for review in user_reviews %}
                <div class="card mb-4">
                    <div class="row no-gutters">
                        <div class="col-lg-4">
                            <img src="{{ review.background_image }}" class="card-img" alt="{{ review.name }}">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">Game: {{ review.name }}</h5>
                                <p class="card-text d-inline"><strong>Review:</strong> {% set review_words = review.review | striptags %}
                                    {% set word_count = review_words | length %}
                                    {% if word_count > 50 %}
                                    {% set visible_review = review_words[:50] %}
                                    {% set hidden_review = review_words[50:] %}
                                <p class="d-inline">{{ visible_review }}<span class="collapse" id="collapseReview">{{
                                        hidden_review }}</span></p>
                                <button class="btn" id="reviewBtn" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseReview" aria-expanded="false"
                                    aria-controls="collapseReview">
                                    <span class="read-more">... <i class="bi bi-caret-down-fill"></i></span>
                                    <span class="read-less"><i class="bi bi-caret-up-fill"></i></span>
                                </button>
                                {% else %}
                                <p class="d-inline">{{ review.review }}</p>
                                {% endif %}
                                </p>
                                <p class="card-text"><strong>Rating:</strong><span> {{ review.rating }}</span></p>
                                {% if current_username == username %}
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#editModal_{{ review._id }}" class=" btn btn-primary">Edit</button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal_{{ review._id }}">
                                    Delete
                                </button>
                                <div class="modal fade" id="editModal_{{ review._id }}" tabindex="-1"
                                    aria-labelledby="editModalLabel_{{ review._id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModalLabel_{{ review._id }}">Edit Review
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post"
                                                    action="{{ url_for('edit_review', review_id=review._id) }}">
                                                    <div class="mb-3">
                                                        <label for="name" class="form-label">Game Name</label>
                                                        <input type="text" class="form-control" id="name" name="name"
                                                            value="{{ review.name }}" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="review" class="form-label">Review</label>
                                                        <textarea class="form-control" id="review" name="review"
                                                            rows="4" required>{{ review.review }}</textarea>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="rating" class="form-label">Rating (out of
                                                            10)</label>
                                                        <input type="number" class="form-control" id="rating"
                                                            name="rating" value="{{ review.rating }}" min="0" max="10"
                                                            step="0.5" required>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Update Review</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete Modal -->
                                <div class="modal fade" id="exampleModal_{{ review._id }}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="modal-title fs-5" id="exampleModalLabel">Are you sure you
                                                    want to delete this review?</h2>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post"
                                                    action="{{ url_for('delete_review', review_id=review._id) }}">
                                                    <button type="submit" class="btn btn-primary">Yes</button>
                                                    <button type="button" class="btn btn-danger"
                                                        data-bs-dismiss="modal">No</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if current_username == username %}
            <!-- Delete Account Button -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
                Delete Account
            </button>

            <!-- Delete Account Modal -->
            <div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete your account? This action cannot be undone.
                        </div>
                        <div class="modal-footer">
                            <form action="{{ url_for('delete_account') }}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}