{% extends "base.html" %}
{% block content %}
<div class="container min-vh-100">
    <div class="container d-flex align-items-center justify-content-center mt-5 pt-5">
        <!-- Sign Up Icon -->
        <img class="'d-inline me-3" id="penIcon" src="../static/css/icons/pen.png" alt="Sign Up Icon">
        <!-- Page heading -->
        <h2 class="text-center mt-5 pb-5 display-2">Sign up!</h2>
    </div>
    <!-- Form Section -->
    <div class="row my-5 justify-content-center">
        <div class="card col-8 col-xl-6 p-3">
            <div class="card-body">
                <!-- Sign Up Form -->
                <form method="POST" action="{{ url_for('sign_up') }}">
                    <!-- Username Field -->
                    <div class="my-3">
                        <img class="d-inline mb-2" id="usernameIcon" src="../static/css/icons/username.png" alt="Username Icon">
                        <label for="username" class="form-label">Username:</label>
                        <div class="input-group">
                            <span class="input-group-text"></span>
                            <input id="username" name="username" type="text" minlength="3" maxlength="20"
                                pattern="^(?=.*[A-Za-z])[A-Za-z0-9\-_]{3,20}$" title="Username must be 3-20 characters long and can include letters, numbers, underscores, and hyphens."
                                class="form-control" required>
                                
                        </div>
                    </div>
                    <!-- Password Field -->
                    <div class="my-3">
                        <img class="d-inline mb-2" id="passwordIcon" src="../static/css/icons/password.png" alt="Password Icon">
                        <label for="password" class="form-label">Password:</label>
                        <div class="input-group">
                            <span class="input-group-text"></span>
                            <input id="password" name="password" type="password" minlength="8" maxlength="20"
                                pattern="^(?!.*(.)\1{2,})[A-Za-z0-9\W_]{8,20}$"        title="Password must be 8-20 characters long and can include letters, numbers, and any special characters. Avoid simple repetitions."
                                class="form-control" required>
                        </div>
                    </div>
                    <!-- Register Button -->
                    <button type="submit" class="btn btn-primary btn-lg w-100 my-3">
                        Register
                    </button>
                </form>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Login Link -->
                    <p class="text-center">
                        Already part of the community?
                        <a href="{{ url_for('log_in') }}" class="text-primary">Log In</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}